<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="tabs">
            <a href="/homeadmin">Home</a>
            <a href="/products">Products</a>
            <a href="/newproducts">New Products</a>
            <a href="/dashboard" class="onit">Dashboard</a>
        </div>
        <div class="other">
            <a href="/login">Logout</a>
        </div>
    </nav>
    <main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<div>


    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
const xValues = ["Household","Electronics", "Beverages", "Toiletries", "Automative", "Stationery","Hardware","clothing"];
const yValues = [1.0, 1.0, 1.0,1.0, 1.0, 1.0,1.0,1.0,1.0];
const barColors = ["blue", "orange"," red","aquamarine","lightgreen","yellow","purple","pink"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    },

    title: {
      display: true,
      text: "products by catalogue"
    }
  }
});
</script>
</div>

<div>

    <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>

<script>
var xValues2 = ["Household", "Electronics", "Automatives", "toiletries", "Hardware", "Clothing", "Stationary"];


new Chart("myChart2", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Products by Categories"
    }
  }
});
</script>
    </main>
</body>
</html>