<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homeadmin.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="tabs">
            <a href="#" id="it" class="onit">Home</a>
            <a href="/products">Products</a>
            <a href="/newproducts">New Products</a>
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="other">
            <a href="/login">Logout</a>
        </div>
    </nav>
    <main>
        <h1>Welcome admin</h1>
    </main>
</body>
</html> 