* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: rgb(53, 53, 255);
    height: 7vh;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.9rem;
}

nav > .tabs {
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    a {
        margin: 0 1rem;
        padding: 16px 15px;
    }
}

nav > .other{
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    a{
        margin: 0 1rem;
        padding: 16px 15px;
    }
}

.tabs > a:hover {
    background-color: rgb(42, 42, 201);
}

.other > a:hover {
    background-color: rgb(42, 42, 201);
}

.onit {
    background-color: rgb(42, 42, 201);
}