* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 249, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 21rem;
    height: 15rem;
    background-color: white;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.words {
    width: 17rem;
    height: 2.4rem;
    border: none;
    border-radius: 3px;
}

.button {
    width: 17rem;
    height: 2.4rem;
    border: none;
    background-color: rgb(63, 63, 227);
    border-radius: 3px;
    color: white;
}

.words:focus {
    outline: none;
    border: 1px solid rgb(193, 193, 193);
}